#mode_selector {
	text-align: center;
	border: 2px solid #a1a1a1;
	padding: 10px 40px; 
	background: #dddddd;
	width: 160px;
	border-radius: 10px;
};
#admin_mode {
	border:2px;
};
#view_mode {
	border:2px
};
