#mode_selector {
	text-align: center;
	border: 2px solid #CCCCCC;
	padding: 10px 40px; 
	background: #DDDDDD;
	width: 160px;
	border-radius: 10px;
	cursor: pointer;
};
#admin_mode {
	border: 2px;
};
#view_mode {
	border: 2px
};
